@charset "UTF-8";
/* 
Design by: Siyad
Developed by: Vishnu Prakash
Company: Klivolks India Pvt Ltd
Date: 01 June 2017
*/
@import url('https://fonts.googleapis.com/css?family=Vibur');
@import url('https://fonts.klubsta.com/eurasia');
@font-face{
	font-family: "Aileron";
	src: url(/fonts/Ailerons-Typeface.otf) ;
	font-weight: 900;
}

.scroll-page{
	height: 300%;
	z-index: -1;
	width: 100%;
	position: absolute;
}
.home{
	width: 100%;
	height: 100%;
	position: fixed;
	background: #000001;
	background-image: url(/images/lion.png?v=1.0.1);
	background-position: bottom left;
	background-repeat: no-repeat;
}
.about{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 100%;
	background: #FFFFFF;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: contain;
}
.join{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 100%;
	background: #ed2024;
	background-repeat: no-repeat;
	background-position: 10% 20%;
}
.header{
	margin-top: 50px;
	width: 100%;
}
.logo{
	font-family: "Aileron";
	font-size: 80px;
	line-height: 60px;
	letter-spacing: 5px;
	color: #FFFFFF;
}
.tag-title{
	font-family: "Aileron";
	font-size: 52px;
	letter-spacing: 5px;
	color: #FFFFFF;
}
.centre-box{
	margin-top: 150px;
}
.about-title{
	font-family: "Aileron";
	font-size: 52px;
	letter-spacing: 5px;
	color: #000001;
	margin-top: 150px;
}
.about-intro{
	display:none;
	font-family: "Eurasia";
	text-align: justify;
	margin-top: 20px;
	font-size: 16px;
}
.logo-2{
	font-family: "Aileron";
	font-size: 80px;
	line-height: 60px;
	letter-spacing: 5px;
	color: #000001;
}
.join-text{
	margin-top: 200px;
}
.join-title{
	font-family: "Aileron";
	font-size: 52px;
	letter-spacing: 5px;
	color: #000001;
	cursor: pointer;
}
@keyframes rotat{
	0%{
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(90deg);
	}
	100%{
		transform: rotate(0deg);
	}
}
.i-rot{
	animation: rotat 1s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	float: right;
	width: 40px;
	display: none;
	position: relative;
	left: -50px;
}
.join-popup{
	position: fixed;
	width:100%;
	height: 100%;
	display: none;
	background: #fff000; 
	background: -moz-linear-gradient(left, #fff000 0%, #fff000 60%, #ccdd01 60%, #ccdd01 85%, #ffc000 85%, #ffc000 100%); 
	background: -webkit-linear-gradient(left, #fff000 0%,#fff000 60%,#ccdd01 60%,#ccdd01 85%,#ffc000 85%,#ffc000 100%); 
	background: linear-gradient(to right, #fff000 0%,#fff000 60%,#ccdd01 60%,#ccdd01 85%,#ffc000 85%,#ffc000 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff000', endColorstr='#ffc000',GradientType=1 );
}
.join-popup-bg{
	position: fixed;
	width: 100%;
	height: 100%;
	background: url(/images/lion4.png);
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 50%;
	filter: alpha(opacity=50);
	opacity: 0.5;
	z-index: -1;
}
.join-popup-title{
	font-family: "Aileron";
	font-size: 36px;
	letter-spacing: 5px;
}
.oui{
	font-family: 'Vibur', cursive;
}
.intro{
	font-family: "Eurasia";
	text-align: justify;
	margin-top: 20px;
	font-size: 16px;
}
::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.mouse-icon{
	width: 100%;
	text-align: center;
	margin-top: 100px;
}
.jumbing-mouse{
	animation: bounce 0.5s infinite alternate;
	-webkit-animation: bounce 0.5s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}
@media screen and (max-width:768px){
	.logo{
		font-size: 52px;
	}
	.intro{
		overflow: scroll;
	}
}